# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files
db.sqlite3

# Ignore environment folders
venv/
env/

# Ignore static and media files
staticfiles/
media/
uploads/

# Ignore IDE/editor settings
.vscode/
.idea/
