absl-py==2.1.0
acres==0.1.0
aiofiles==0.6.0
aiohttp==3.7.4
anyio==4.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
astroid==3.0.2
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==3.0.1
attrs==24.3.0
Automat==20.2.0
autopep8==2.3.1
awscli==1.36.5
Babel==2.14.0
bcrypt==3.2.0
beautifulsoup4==4.12.2
black==24.1.1
bleach==6.1.0
blinker==1.9.0
blosc2==2.7.1
boto3==1.35.87
botocore==1.35.87
Brotli==1.1.0
cachelib==0.13.0
certifi==2023.7.22
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
check50==3.3.11
ci-info==0.3.0
clang-format==19.1.3
click==8.1.7
cloud-init==24.4
cmd2==1.5.0
colorama==0.4.6
comm==0.2.0
command-not-found==0.3
commonmark==0.9.1
configobj==5.0.9
configparser==7.1.0
constantly==15.1.0
contourpy==1.2.1
cowsay==6.1
cryptography==43.0.3
cs50==9.4.0
cycler==0.12.1
dbus-python==1.2.18
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==5.1.1
docutils==0.16
EditorConfig==0.12.4
emoji==2.12.1
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.0
filelock==3.16.1
Flask==3.0.3
Flask-Session==0.8.0
flatbuffers==24.3.25
fonttools==4.53.1
fpdf==1.7.2
fpdf2==2.7.9
fqdn==1.5.1
fsspec==2024.10.0
gast==0.6.0
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.68.1
gTTS==2.5.3
gyp==0.1
h5py==3.12.1
help50==3.0.5
httplib2==0.20.2
huggingface-hub==0.26.3
hyperlink==21.0.0
icdiff==2.0.7
idna==2.10
importlib-metadata==4.6.4
importlib_resources==6.4.5
imutils==0.5.4
incremental==21.3.0
inflect==7.3.1
iniconfig==2.0.0
ipykernel==6.27.1
ipython==8.18.1
ipython-genutils==0.2.0
ipywidgets==8.1.1
isodate==0.6.1
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jedi==0.19.1
jeepney==0.7.1
jellyfish==0.11.2
Jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
JPype1==1.5.0
jsbeautifier==1.15.1
json5==0.9.14
jsonpatch==1.32
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-events==0.9.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.1
jupyter_client==8.6.0
jupyter_core==5.5.1
jupyter_nbextensions_configurator==0.6.4
jupyter_server==2.12.1
jupyter_server_terminals==0.5.0
jupyterlab==4.0.9
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
keras==3.7.0
keyring==23.5.0
kiwisolver==1.4.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==0.0.0
Levenshtein==0.26.1
lib50==3.0.10
libclang==18.1.1
logilab-common==1.8.2
looseversion==1.3.0
lxml==5.3.0
Markdown==3.7
markdown2==2.5.0
marker==2.1.5
MarkupSafe==2.1.3
matplotlib==3.9.1.post1
matplotlib-inline==0.1.6
mccabe==0.7.0
minecart==0.3.0
mistune==3.0.2
ml-dtypes==0.4.1
more-itertools==8.10.0
msgpack==1.0.8
msgspec==0.18.6
multidict==6.1.0
mutagen==1.47.0
mypy-extensions==1.0.0
namex==0.0.8
nbclient==0.9.0
nbconvert==7.13.0
nbformat==5.9.2
ndindex==1.8
nest-asyncio==1.5.8
netifaces==0.11.0
networkx==3.4.2
nibabel==5.3.2
nipype==1.9.1
nltk==3.9.1
notebook==7.0.6
notebook_shim==0.2.3
numexpr==2.10.1
numpy==2.0.1
oauthlib==3.2.0
ocr-nanonets-wrapper==1.1
olefile==0.46
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.13.1
overrides==7.4.0
packaging==23.2
Panda3D==1.10.15
panda3d-gltf==1.2.1
panda3d-simplepbr==0.12.0
pandas==2.2.2
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
pathspec==0.12.1
pdf2image==1.17.0
pdfminer.six==20231228
pdfminer3k==1.3.4
pdfplumber==0.11.4
pdftotext==2.2.2
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.1.0
plotly==5.23.0
pluggy==1.5.0
ply==3.11
prometheus-client==0.19.0
prompt-toolkit==3.0.43
propcache==0.2.0
protobuf==5.29.1
prov==2.0.1
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
puremagic==1.28
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1-modules==0.2.1
pycodestyle==2.12.0
pycparser==2.21
pycryptodomex==3.11.0
pycurl==7.44.1
pydocstyle==6.3.0
pydot==3.0.2
pyfiglet==0.7
pygame==2.6.0
Pygments==2.17.2
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pylint==3.0.3
PyMuPDF==1.24.14
pyOpenSSL==24.3.0
pyparsing==3.2.0
pypdfium2==4.30.0
pyperclip==1.9.0
pyrsistent==0.18.1
pyserial==3.5
pytesseract==0.3.13
pytest==8.3.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.8.2
python-json-logger==2.0.7
python-Levenshtein==0.26.1
python-magic==0.4.27
pyttsx3==2.90
pytz==2024.1
pyxattr==0.7.2
pyxnat==1.6.2
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
RapidFuzz==3.10.1
rdflib==6.3.2
referencing==0.32.0
regex==2024.11.6
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==10.2.0
rpds-py==0.15.2
rsa==4.7.2
ruamel.yaml==0.17.17
s3transfer==0.10.3
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
screeninfo==0.8.1
seaborn==0.13.2
SecretStorage==3.3.1
Send2Trash==1.8.2
service-identity==18.1.0
simplejson==3.19.3
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
SQLAlchemy==2.0.36
sqlparse==0.5.1
stack-data==0.6.3
style50==2.10.4
submit50==3.1.4
systemd-python==234
tables==3.10.1
tabula-py==2.10.0
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==1.1.0
terminado==0.18.0
textblob==0.18.0.post0
tf_keras==2.18.0
threadpoolctl==3.5.0
tinycss2==1.2.1
tokenizers==0.20.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
tornado==6.4
tqdm==4.67.0
traitlets==5.14.0
traits==6.4.3
transformers==4.46.3
Twisted==22.1.0
typeguard==4.3.0
types-python-dateutil==2.8.19.14
typing_extensions==4.12.2
tzdata==2024.1
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
uri-template==1.3.0
urllib3==1.26.20
ursina==7.0.0
utils==1.0.2
validator-collection==1.5.0
validators==0.33.0
wadllib==1.3.6
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==11.0.3
Werkzeug==3.1.3
widgetsnbextension==4.0.9
wrapt==1.13.3
xlrd==2.0.1
yarl==1.17.2
youtube-dl==2021.12.17
yt-dlp==2023.9.24
zipp==1.0.0
zope.interface==5.4.0
